<%- include("../../partials/header") %>

    <div class="animation-1">
        <div class="animation-1-item">
            <img src="../images/gm1.jpg">
            <div class="animation-1-text">
            <h5>Quiz</h5>
            <a href="#">
                 <p> Wanna do some questions.</p>  
                </a>
            </div>
        </div>
        <div class="animation-1-item">
            <img src="../images/gm2.jpg">
            <div class="animation-1-text">
            <h5>exams</h5>
            <a href="#">  
                 <p> Wanna do some questions.</p>
                 </a> 
            </div>
        </div>
        <div class="animation-1-item">
            <img src="../images/gm3.jpg">
            <div class="animation-1-item-text">
            <h5>website</h5>
            <a href="#">
                 <p> Wanna do some questions.</p>  
                </a> 
            </div>
        </div>
    </div>

    <section class="bookheading">
        <h1> GATE-MECHANICAL</h1>
    </section>
        
    <section class="subjects">
        <h2> ENGINEERING MATHEMATICS</h2>
    </section>
    <div class="bookbox">
   <% book.forEach(function(book){ if(book.bookId === 'MECHEM'){ %>
		<div class="boxes">
			<a href="/gate-mechanical/<%= book._id %>">
				<img src="<%=book.cover%>" alt="" width="225px" height="195px">
			</a>
	    </div>
	<% }}) %> 
    </div>

    <section class="subjects">
        <h2> APPLIED MECHANICS and DESIGN</h2>
    </section>
    <div class="bookbox">
    <% book.forEach(function(book){ if(book.bookId === 'MECHAMAD'){ %>
		<div class="boxes">
			<a href="/gate-mechanical/<%= book._id %>">
				<img src="<%=book.cover%>" alt="" width="225px" height="195px">
			</a>
	    </div>
	<% }}) %>  
    </div>

    <section class="subjects">
        <h2> FLUID MECHANICS and THERMAL SCIENCES </h2>
    </section>
    <div class="bookbox">
     <% book.forEach(function(book){ if(book.bookId === 'MECHFMATS'){ %>
		<div class="boxes">
			<a href="/gate-mechanical/<%= book._id %>">
				<img src="<%=book.cover%>" alt="" width="225px" height="195px">
			</a>
	    </div>
	<% }}) %> 
    </div>

    <section class="subjects">
        <h2> MATERIALS, MANUFACTURING, and INDUSTRIAL ENGINEERING </h2>
    </section>
    <div class="bookbox">
    <% book.forEach(function(book){ if(book.bookId === 'MECHMMAIE'){ %>
		<div class="boxes">
			<a href="/gate-mechanical/<%= book._id %>">
				<img src="<%=book.cover%>" alt="" width="225px" height="195px">
			</a>
	    </div>
	<% }}) %>  
    </div>

<%- include("../../partials/footer") %>